:root { /* theme */
  --primary-color: #111;
  --secondary-color: #222;
  --accent-dark: #999;
  --accent-light: #fff;
}

/* overwrite variables */
html#main-window {
  --lwt-accent-color: var(--primary-color) !important; /* titlebar */
  --toolbar-bgcolor: var(--primary-color) !important; /* toolbar */
  --lwt-toolbar-field-background-color: var(--primary-color) !important; /* searchbar */
  --lwt-toolbar-field-color: var(--accent-light) !important; /* searchbar */
  --chrome-content-separator-color: none !important; /* disable viewport separator */
  --arrowpanel-background: var(--primary-color) !important; /* menu */
  --arrowpanel-border-color: var(--accent-light) !important; /* menu outside border */
}

/* fonts */
menubar,
menubutton,
menulist,
menu,
menuitem,
textbox,
toolbar,
tab,
tree,
.tree-rows {
  -moz-appearance: none !important;
  font-family: 'Fira Code', monospace !important;
  font-weight: bold;
  font-style: normal !important;
  color: var(--accent-light) !important;
}

/* disable various borders */
hbox[style], vbox[style],
:root[lwt-popup-brighttext],
.sidebar-splitter,
#sidebar-header {
  border: none !important;
}

/*** SIDEBAR ***/
/* sidebar header */
hbox[style], vbox[style] {
  background-color: var(--primary-color) !important;
}
/* sidebar  */
.sidebar-splitter {
  -moz-appearance: none;
}

/*** MENU ***/
/* menu inside border */
:root[lwt-popup-brighttext] {
  --panel-separator-color: var(--primary-color) !important;
}

/* disable menu button separator */
:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #nav-bar[brighttext] > #PanelUI-button {
  border-image-source: linear-gradient(transparent, transparent) !important;
}

/* right click menu */
menupopup, #context-navigation {
  -moz-appearance: none !important;
  padding: 8px !important;
  background-color: var(--primary-color) !important;
}

/*** TABS ***/
/* active tab indicator */
.tab-line {
  background-color: var(--accent-light) !important;
}

/* active tab */
.tabbrowser-tab[selected="true"], .tab-label-container[selected="true"] {
  color: var(--accent-light) !important;
}

/* inactive tab */
tab {  
  color: var(--accent-dark) !important;
}

/* remove tab separators */
.tabbrowser-tab::before,
.tabbrowser-tab::after {
  display: none !important;
}

/* SEARCH BAR */
.urlbarView,
#urlbar-background,
#urlbar-container,
.urlbar-input-box {
  background-color: var(--primary-color) !important;
}

/* full search bar */
.urlbarView {
  box-shadow: none !important;
  margin: auto !important;
}

/* disable pocket button */
.urlbar-icon#pocket-button {
  display: none !important;
}

/* hide icon buttons */
.close-icon,
#page-action-buttons>*:not(#star-button-box),
.urlbar-history-dropmarker {
  opacity: 0 !important;
}

/* show icon buttons on hover */
.tabbrowser-tab:hover .close-icon,
#urlbar:hover #page-action-buttons>*,
#urlbar:hover .urlbar-history-dropmarker {
  opacity: 1 !important;
}

/* ICONS */
#bookmarks-menu-button {
  list-style-image: url("images/bookmark-set.png") !important;
}

#pageAction-panel-bookmark, #star-button {
  list-style-image: url("images/bookmark-unset.png") !important; 
}

#star-button[starred] {
  list-style-image: url("images/bookmark.png") !important;
}

