/* invert pdf */
#viewerContainer > #viewer > .page > .canvasWrapper > canvas {
  filter: invert(100%) !important;
}

/* github code preview */
.text-mono, .blob-code, .blob-num {
	font-family: 'Fira Code' !important;
}

/* All monospace fonts */
code, pre {
	font-family: 'Fira Code';
}
